{% extends "base.html" %}
{% block content %}
{% include "PanelInclude.html"%}
<script>

var width = window.innerWidth ;
var height = window.innerHeight / 2;
//var width = 800;
//var height = 600;
var scene ,renderer , camera;
var container, stats;
//var cameraTarget;
var controls;
var mainObj ;
function init()
{
    container = $('#container');
    camera = new THREE.PerspectiveCamera( 45, width / height, 1, 800 );
    camera.position.set(10,10,10);
    controls = new THREE.TrackballControls( camera );
    controls.rotateSpeed = 5.0;
    controls.zoomSpeed = 5;
    controls.panSpeed = 2;
    controls.noZoom = false;
    controls.noPan = false;
    controls.staticMoving = true;
    controls.dynamicDampingFactor = 0.3;
    scene = new THREE.Scene();
    scene.add( camera );
    var dirLight = new THREE.DirectionalLight( 0xff0000 );
    dirLight.position.set( 200, 200, 1000 ).normalize();
    camera.add( dirLight );
    camera.add( dirLight.target );
    var material =  new THREE.MeshPhongMaterial( { ambient: 0xff5533, color: 0xff0000, specular: 0x111111, shininess: 1000 } );
    var loader = new THREE.STLLoader();
    loader.addEventListener( 'load', function ( event ) 
    {
        var geometry = event.content;
        mainObj = new THREE.Mesh( geometry, material );
        mainObj.geometry.computeBoundingBox();
        var box = mainObj.geometry.boundingBox;
        var centerX = 0.5 * ( box.max.x - box.min.x );
        var centerY = 0.5 * ( box.max.y - box.min.y );
        var centerZ = 0.5 * ( box.max.z - box.min.z );
        camera.position.set(box.max.x *2,box.max.y*2,box.max.z*2);
        camera.lookAt(new THREE.Vector3(centerX,centerY,centerZ));
        camera.updateProjectionMatrix();
        console.log(camera.position);
        //mesh.position.set(camera.position.x/2,camera.position.y/2,camera.position.z/2);
        //console.log(mesh.position);
        //console.log(mesh.scale);
        //mesh.scale.set(0.5,0.5,0.5);
        mainObj.castShadow = true;
        scene.add( mainObj );
    } 
    );
    var mainSTLSrc = "{{mainSrc}}";
    loader.load( mainSTLSrc );
    renderer = new THREE.WebGLRenderer( { antialias: false } );
    renderer.setClearColor( 0xf0f0ff, 1 );
    renderer.setSize( width, height );
    renderer.shadowMapEnabled = true;
    renderer.shadowMapType = THREE.PCFShadowMap;
    container.append( renderer.domElement );
    animate();
}
function onWindowResize() 
{
    width = window.innerWidth ;
    height = window.innerHeight / 2; 
    camera.aspect = width / height;
    camera.updateProjectionMatrix();
    renderer.setSize( width, height );
    controls.handleResize();
}
function animate() 
{
    requestAnimationFrame( animate );
    controls.update();
    renderer.render( scene, camera );
    //stats.update();
}
$(document).ready(init);
</script>
<div id="container">

</div>
{%endblock%}