{% extends "base.html" %}
{% block content %}
{% include "PanelInclude.html"%}
<script>
$(document).ready(
function()
{
            console.log("Initial envs");
            var loader = new THREE.STLLoader();
            loader.addEventListener
            ( 'load', 
                function ( event ) 
                {
                    var geometry = event.content;
                    var scene = new THREE.Scene();
                    scene.add( new THREE.Mesh( geometry ) );
                    var renderer = new THREE.WebGLRenderer();
                    var container = $('#container');
                    container.append(renderer.domElement);
                    var camera = new THREE.PerspectiveCamera( 35, window.innerWidth / window.innerHeight, 1, 15 );
                    camera.position.set( 3, 0.15, 3 );
                    renderer.setSize(window.innerWidth , window.innerHeight);
                    renderer.render(scene,camera);
                } 
            );
            loader.load("{{mainSrc}}");
            console.log("Finish Loading");
}
);
</script>
<div id="container">

</div>
{%endblock%}