{% extends "FormInput.html" %}
{%block beforesubmit%}
    lengthObj = {name:"length",value:$("#id_length").spinner("value")};
    arr.push(lengthObj);
    return formIsValid;
{%endblock%}
{%block submitDoneFunction%}
    $("#id_password").empty();
    $("#id_password").append(data[0].pk);
{%endblock%}
{%block formHead%}
<script src="/static/js/jquery-ui-timepicker-addon.js"></script>
<link rel="stylesheet" href="/static/css/jquery-ui-timepicker-addon.css"/>
<script>
$(document).ready
(
function()
{
$("#id_calcPassword").click
(
    function(event)
    {
        event.preventDefault();
        /*request = $.ajax
        (
            url:"/service/password/requestPassword":
        );*/
        $("#id_baseForm").ajaxSubmit
        (
            {
                url:"/service/password/requestPassword",
                dataType:"json",
                beforeSubmit:beforeSubmitCorrection,
                success:function(formData,jqForm,options)
                {
                    $("#id_baseForm_Submit").prop("disabled",false);
                    $("#id_password").empty();
                    $("#id_password").append(formData.password);
                }
            }
        );
    }
);
$("#id_seed").datetimepicker(
{
    timeFormat: 'HH:mm:ss',
    dateFormat: 'yy-mm-dd',
    showOn:"both",
    buttonImageOnly:false,
    buttonImage:"/static/images/calendar-icon.png"
}
);
$("#id_length").spinner
(
{
    spin:function(event,ui)
    {
        if (ui.value < 6 )
        {
            $(this).spinner("value",6);
            return false;
        }
        else if (ui.value > 63)
        {
            $(this).spinner("value",6);
            return false;
        }
    }
}
);

}
);
</script>
{%endblock%}
{%block title%}
{{title}}
{%endblock%}
{%block topOfSubmit%}
<tr>
    <th>
        Password:
    </th>
    <td>
        <div id="id_password"></div>    
    </td>
</tr>
{%endblock%}
{%block leftOfSubmit%}
<button id="id_calcPassword">Calc Password</button>
{%endblock%}
